html,
body {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  font-weight: 300;
}

a {
  color: #2980b9;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

h2 {
  margin-top: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.container {
  height: 100%;
  min-height: 100%;
  position: relative;
  max-width: 944px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.content {
  word-wrap: break-word;
  background: #fff;
  border: 1px solid #c4c4c4;
  padding: 24px;
  padding-right: 72px;
  border-left: 4px solid #000000;
}